.paperlogo1{
    width:300px;
    height: auto;
}
.b-sharewithus,.b-browseposts{
    border:none;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    width: 200px;
    height: auto;
    margin-right:10px;
    line-height: 5em;
}
.b-sharewithus span,.b-browseposts span{
    font-family: fantasy;
    font-size: 20px;
}

.row-header {

	margin: 0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.address {
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}
